<%= render 'pitch/pitch_alerts' %>

<div id="main-pitch-section">
  <% if admin? %>
  <div class="dashboard">
    <div class="dash-main">
      <div class="mdl-tabs mdl-js-tabs">
        <div class="mdl-tabs__tab-bar switching-tabs">
          <span class="tab-btn-back-icon">
            <%= image_tag("back-icon-copy.svg") %>
          </span>
          <a id="learners-tab" href="#learners-panel" class="mdl-tabs__tab is-active">
            Learners
          </a>
          <a id="panellists-tab" href="#panellists-panel" class="mdl-tabs__tab">
            Panellists
          </a>
          <% if !!fetch_pitch_panellist %>
            <a id="ratings-tab" href="#ratings-panel" class="mdl-tabs__tab">
              My Learners
            </a>
          <% end %>
        </div>
        <div class="mdl-tabs__panel is-active" id="learners-panel">
          <p class="invite-report">
            <%= @campers_details.select {|eachLearner| eachLearner[:is_graded] == true }.length %> of
            <%= @campers_details.length %>
            Learners have been rated for the <%= @panel&.cycle_center&.center&.name%> Cycle
            <%=@panel&.cycle_center&.cycle&.cycle%> Demo</p>
          <div class="pitch-grid" id="learners-pitch-grid">
            <% @campers_details.map do |learner| %>
            <div class="pitch-persona-card learner-pitch-tab-card">
              <div class="persona-card-body" id="<%= learner[:id] %>">
                <div class="persona-img">
                  <img
                    src="https://ui-avatars.com/api/?name=<%= learner[:first_name] %>+%20<%= learner[:last_name] %>&background=195BDC&color=fff&size=128"
                    alt="learner image">
                </div>
                <div class="persona-name"> <%= learner[:first_name] %> <%= learner[:last_name] %></div>
                <div class="persona-mail"><%= learner[:email] %></div>
                <div class="persona-invite-time">Invited
                  <%= time_ago_in_words(learner[:created_at]) %>
                  ago
                </div>
                <div class="<%=  learner[:is_graded] ?  'persona-badge-active' : 'persona-badge' %>">
                  <%=  learner[:is_graded] ?  'Graded' : 'Not yet graded' %>
                </div>
              </div>
            </div>
            <% end %>

          </div>
        </div>
        <div class="mdl-tabs__panel" id="panellists-panel">
          <p class="invite-report"> <%= @panelist.select {|eachpanelist| eachpanelist[1] == 'True' }.length %> of
            <%= @panelist.length %>
            <%=  @panelist.length > 1 ?  'Panellists': 'Panellist' %>
            have accepted the invite for the <%= @center_details[0] %> Cycle <%= @center_details[1] %> Demo</p>
          <div class="pitch-grid" id="panellists-pitch-grid">
            <%  @panelist.map do |panelist|%>
            <div class="pitch-persona-card" id="panelist-card-body">
              <div class="persona-card-body">
                <div class="persona-img"><%= image_tag 'user.svg' %></div>
                <div class="persona-name"><%= panelist.email.split(".")[0] %>
                  <%= panelist.email.split(".")[1].split('@')[0] %>
                </div>
                <div class="persona-mail"><%= panelist.email %></div>
                <div class="persona-invite-time">Invited
                  <%= time_ago_in_words(panelist.created_at) %>
                  ago
                </div>
                <div class="<%=  panelist.accepted == 'False' ? 'persona-badge' : 'persona-badge-active'%>">
                  <%=  panelist.accepted == 'False' ?  'Pending Confirmation' : 'Invitation Accepted'%>
                </div>
              </div>
            </div>
            <%end %>
          </div>
        </div>

        <div class="mdl-tabs__panel" id="ratings-panel">
          <p class="invite-report">Hi <%= session[:current_user_info][:name].split().first %>, click on a learner's profile
            to begin their demo.</p>
          <div class="panelist-wrapper">
            <div class="panelist-container">
              <div class="panelist-modal panelist-modal--has-shadow panelist-modal--has-radius">
                <div class="panelist-content with-learners">
                  <div class="panelist-cards mdl-grid">
                    <%= render partial: 'panel_learner', collection: @panel_learners %>
                  </div>
                  <div class="btn-wrapper" id="learners-pagination">
                    <div class="pagination-control learners-pitch-pagination"></div>
                  </div>
                </div>
                <div class="panelist-content no-learners hide">
                  <p class="no-learners-text">Hi <%= session[:current_user_info][:name] %>, this pitch is closed</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= render("panels/learner_rating_modal") %>
<%= render("panels/panel_learners") if pitch_panelist? %>

<% if pitch_panelist? && !admin? %>
  <div class="panelist-wrapper">
    <div class="panelist-container">
      <div class="panelist-modal panelist-modal--has-shadow panelist-modal--has-radius">
        <div class="panelist-content with-learners">
          <h4 class="is-blue is-capitalized align-text">Demo Ratings</h4>
          <p class="align-text">Hi <%= session[:current_user_info][:name].split().first %>, click on a learner's profile
            to begin their demo.</p>
          <div class="panelist-cards mdl-grid" id="panelist-learners">
            <%= render partial: 'panel_learner', collection: @panel_learners %>
          </div>
          <div class="btn-wrapper" id="learners-pagination">
            <div class="pagination-control learners-pitch-pagination"></div>
          </div>
        </div>
        <div class="panelist-content no-learners hide">
          <h4 class="is-blue is-capitalized">Demo Ratings</h4>
          <p class="no-learners-text">Hi <%= session[:current_user_info][:name] %>, this pitch is closed</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
